Version: '2012-10-17'
Statement:
- Effect: Allow
  Action:
  - dynamodb:BatchGetItem
  - dynamodb:BatchWriteItem
  - dynamodb:DeleteItem
  - dynamodb:GetItem
  - dynamodb:PutItem
  - dynamodb:Query
  - dynamodb:UpdateItem
  - dynamodb:Scan
  Resource:
  - <%= table_arn %>
  - <%= table_arn %>/index/*
